# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json

server/src/keys
keys
node_modules
dist
client-dist
dist-ssr
build
.husky/_/*

scripts/*.csv
scripts/*.json
scripts/*.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/stats.html
client/public/version.json
client/public/sitemap.txt
client/public/sitemap.xml
client/public/data/*
client/.env.keys
client/scripts/keys
client/stats.html
/client/distBackup
/client/src/alice
server/keys
/server/src/apacheLogAnalysis/logs
/server/src/apacheLogAnalysis/dailyData
/server/src/apacheLogAnalysis/errorLogs
/server/src/apacheLogAnalysis/logsTemp
/server/src/userProfiles/backups/
/server/src/userProfiles/export/
App/dist/.DS_Store
/WebApplication/tmp
App/dist/.DS_Store
/WebApplication/server/src/resultsCache
